<html>
<head>
  <meta charset="utf-8">
  <title>[angularjs-visible] lazy image loading</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
  <!-- <link rel="stylesheet" href="css/app.css"> -->
  <style>
  .container {
      padding:10px 20px 10px 10px;
      display:block;
  }
  .box {
      width:100%; height:90px; border:1px solid #aaa; background-color:#eee;
      text-align:right; font-size:2em; background-repeat: no-repeat;
      margin-top:10px; padding-right : 10px;
  }

  .box span {
      font-size:0.5em; font-weight: bold;
  }
  .lazy { background-color:#bfe5bf; border-color:#bb0; }
  </style>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../src/angular-visible.js"></script>
  <script src="app.lazyLoading.js"></script>
</head>
<body ng-app="App.lazyLoading">
  <h2>Angular-Visible Directive</h2>
  <h3>[example] image lazy loading</h3>
  <check-visible class="container" ng-controller="Controller.LazyLoading as main"
    target-class="lazy"
    check-delay="500"
    check-remove-target="true"
  >
    <div>
      <button ng-click="main.createData()">Create Data</button>
    </div>
    <div ng-repeat="ele in main.list" ng-class="ele.isTarget ? 'box lazy' : 'box'"><span ng-if ="!ele.isTarget">I'm not a 'visible' target</span> {{ele.no}}</div>
  </check-visible>
</body>
</html>
